@model IEnumerable<PostViewModel>
@{
    ViewBag.Title = "Index";
}
<section class="pattern-3 no-padding-right">
    <h2 class="hidden">blog posts</h2>
    <!-- .container -->
    <div class="container">

        <div class="row">
            <div class="col-md-8 col-md-offset-2 blog-main">
                @*@Html.ActionLink("Add new post", "Create", "Post", new { @class= "btn btn-primary text-uppercase"})*@
                <a class="btn btn-primary text-uppercase align-center" href="/create/post" role="button"> Add new post </a>
            </div>
        </div>
        <!-- .row -->
        <div class="row">
            <!-- .col-md-12 -->
            <div class="col-md-12">
                <!-- All blog posts -->
                <div class="mar-top-lg row">
                    <div class="col-md-8 col-md-offset-2 blog-main">
                        @foreach (var item in Model)
                        {
                            <section class="blog-post-list no-padding">
                                <h2 class="hidden">Last Posts</h2>
                                <!-- .blog-post -->
                                <article class="blog-post wow fadeInUp" data-wow-duration="1s">
                                    <span class="blog-date">
                                        @item.PostedOn.Day.ToString()
                                        <small class="blog-month">@item.PostedOn.ToString("MMM")</small>
                                    </span>
                                    <span class="post-likes">
                                        <a class="iline2-heart64"></a>
                                        <small class="post-count">@item.UserLikes.Count</small>
                                    </span>
                                    <span class="post-views">
                                        <a class="iline2-rectangular22"></a>
                                        <small class="post-count">@item.Comments.Count</small>
                                    </span>
                                    <div class="blog-body">
                                        <header class="entry-header">
                                            <a href="post/@item.Id">
                                                @if (item.ImageUrl == string.Empty)
                                                {
                                                    <img src="~/images/blog/detail-5.jpg" alt="post 2" class="img-responsive img-full" />
                                                    <div class="image-overlay">
                                                        <p>
                                                            <span class="show-image">
                                                                <i class="iline2-arrow423"></i>
                                                            </span>
                                                        </p>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <img src="@item.ImageUrl" alt="post 2" class="img-responsive img-full" />
                                                    <div class="image-overlay">
                                                        <p>
                                                            <span class="show-image">
                                                                <i class="iline2-arrow423"></i>
                                                            </span>
                                                        </p>
                                                    </div>
                                                }
                                            </a>
                                        </header>
                                        <h4 class="text-success text-center text-uppercase mar-top-sm">@item.Title</h4>
                                        <p>
                                            @item.Content
                                        </p>
                                        <a class="btn btn-primary text-uppercase" href="post/@item.Id" role="button"> Read more</a>
                                    </div>
                                </article>
                                <!-- /.blog-post -->
                            </section>
                        }
                        <!-- .navigation -->
                        <nav class="navigation paging-navigation">
                            <ul class="page-numbers pagination">
                                <li><span class="page-numbers pagination current">1</span></li>
                                <li><a class="page-numbers pagination" href="#">2</a></li>
                                <li><a class="page-numbers pagination" href="#">3</a></li>
                                <li><a class="next page-numbers pagination" href="#">Next →</a></li>
                            </ul>
                        </nav><!-- /.navigation -->
                    </div>
                    <!-- /.col-md-8 /.col-md-offset-2 /.blog-main -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- BLOG POST BODY SECTION END -->
